.nav-text {
    padding: 10px 15px;
}

/* DataTables */

table.dataTable thead > tr > th {
    white-space: nowrap;
}

td.details-control {
    cursor: pointer;
    text-align: center;
}

td.details-control:before {
    content: "+";
}

tr.shown td.details-control:before {
    content: "-";
}

div.dataTables_wrapper {
    position: relative;
}

div.table-responsive {
    margin: 6px 0 !important;
}

div.table-responsive > table.dataTable {
    margin: 0 !important;
}

/* Utils */

.table-layout-fixed {
    table-layout: fixed !important;
}

.display-inline {
    display: inline !important;
}

.display-inline-block {
    display: inline-block !important;
}
